#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.fretboard {
    display: flex;
}

.tuner {
    display: flex;
    flex-direction: column;
    height: 100%
}

.string {
    display: flex;
    flex-direction: row;
}

.fret {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    border-radius: 0.125rem;
    width: 5rem;
    height: 1.75rem;
    font-size: 1rem;
    font-weight: bold;
    animation: appear .7s ease-in-out forwards;
    opacity: 0;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    box-shadow: 0rem 0rem 0.25rem 0.125rem rgba(255,255,255,0.16);
    transition: all .7s ease-out;
}

.frets-mark {
    display: flex;
    text-align: center;
    justify-content: center;
}

.fret-mark {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    border-radius: 0.125rem;
    width: 5rem;
    height: 1.75rem;
    font-size: 1rem;
    font-weight: bold;
    animation: slide-up 1.1s ease-in-out forwards;
    opacity: 0;
    background-color: transparent;
    transition: all .7s ease-out;
}

.tunner-select {
    width: 2.5rem;
    height: 1.75rem;
    border-radius: 0.25rem;
    margin: 0.5rem 1.5rem 0.5rem 0.5rem;
    padding: 0.125rem;
    background-color: transparent;
    border: 0.1rem solid #fafafa;
    color: #fafafa;
    cursor: pointer;
    animation: tunnerAppear .7s ease-in-out forwards;
    opacity: 0;
}

.scale-select {
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    outline: none;
    background-color: transparent;
    border: 0.125rem solid #fafafa;
    color: #fafafa;
    margin: 0.125rem 0.25rem;
}


option {
    color: #030609;
    cursor: pointer;
}

@keyframes appear {
    from {
        opacity:0;
        transform: translateX(-1rem) scale(0.8);
    }

    to {
        opacity: 1;
        transform: translateX(0rem) scale(1);
    }
}

@keyframes tunnerAppear {
    from {
        opacity: 0;
        transform: translateX(-2rem);
    }

    to {
        opacity: 1;
        transform: translateX(0rem)
    }
}


@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }

    to {
        opacity: 1;
        transform: translateY(0rem)
    }
}
